<!--
  Generated template for the ReaderEdit page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{isNewReader ? 'New Reader' : 'Edit Reader'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="readerForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label floating i18n>First Name</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item class="error" *ngIf="readerForm.get('firstName').hasError('required') && readerForm.get('firstName').touched">
          First Name is required
      </ion-item>
        <ion-item class="error" *ngIf="readerForm.get('firstName').hasError('minlength') && readerForm.get('firstName').touched">
          Minimum of 2 characters required
        </ion-item>
        <ion-item class="error" *ngIf="readerForm.get('firstName').hasError('maxlength') && readerForm.get('firstName').touched">
          Maximum of 20 characters required
        </ion-item>
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item class="error" *ngIf="readerForm.get('lastName').hasError('required') && readerForm.get('lastName').touched">
          Last Name is required
      </ion-item>
      <ion-item class="error" *ngIf="readerForm.get('lastName').hasError('minlength') && readerForm.get('lastName').touched">
          Minimum of 2 characters required
      </ion-item>
      <ion-item class="error" *ngIf="readerForm.get('lastName').hasError('maxlength') && readerForm.get('lastName').touched">
          Maximum of 20 characters required
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="error" *ngIf="readerForm.get('email').hasError('required') && readerForm.get('email').touched">
        Email is required
      </ion-item>
      <ion-item class="error" *ngIf="readerForm.get('email').hasError('email') && readerForm.get('email').touched">
        Invalid email
      </ion-item>
      <ion-item>
        <ion-label floating>Phone: ###-###-####</ion-label>
        <ion-input type="tel" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item class="error" *ngIf="readerForm.get('phone').hasError('required') && readerForm.get('phone').touched">
        Phone is required
      </ion-item>
      <ion-item class="error" *ngIf="readerForm.get('phone').hasError('pattern') && readerForm.get('phone').touched">
        Invalid phone format
      </ion-item>
    </ion-list>
    <button ion-button type="submit" [disabled]="readerForm.invalid">
      {{isNewReader ? 'Add Reader': 'Update Reader'}}
    </button>
  </form>

</ion-content>
